body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.gradient-box{
    height: 45%;
/*    box-shadow: 0 2px 20px #333;*/
    z-index: 10;
    background-image: linear-gradient(30deg, #ba2eac, #2ea5ba);
}
/*--------------------------------------------------------------------*/
.menu{
    height: 45%;
    background-image: radial-gradient(#418ff4, #416af4);
    z-index: 1;
    overflow: hidden;
}
.menu-options{
    position: relative;
    bottom: -100%;
    transition: 0.5s;
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: rgb(0,0,0);
    z-index: 100;
}
.menu-options-active{
    bottom: 0;
}
.menu-options li{
    height: 33.33333%;
    box-sizing: border-box;
}
.menu-options li:nth-child(1),
.menu-options li:nth-child(2){
    border-top: 1px solid #000;
    border-bottom: 1px solid #fff;
}
.menu-options li:nth-child(3){
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
.menu-options a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: sans-serif;
    display: block;
    text-align: center;
    height: 100%;
}
/*--------------------------------------------------------------------*/
.option{
    display: none;
    height: 100%;
    flex-direction: column;
    width: 100%;
}
.option-active{
    display: flex;
    position: relative;
    top: -100%;
}
/*--------------------------------------------------------------------*/
.colors{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.colors-box-btn{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 25%;
}
.colors-box-input{
    visibility: hidden;
    height: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.colors-box-input-active{
    visibility: visible;
    height: 75%;
}
.colors button{
    background-color: #ccc;
    border: 1px solid transparent;
    border-radius: 15px;
    width: 40%;
    height: 70%;
    transition: 0.5s;
}
.colors .btn-active{
    background-color: #49e53d;
}
.colors input{
    width: 90%;
}
/*--------------------------------------------------------------------*/
.buttons{
    height: 10%;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    box-sizing: border-box;
    background-image: url(thumb-1920-349131.jpg);
    background-size: cover;
    z-index: 13;
}
.buttons .menu-button,
.buttons .random{
    border: 2px solid orange;
    background-color: rgba(0,0,0,0.5);
    border-radius: 20px;
    color: #fff;
    font-size: 1.2rem;
}
.buttons .menu-button{
    width: 30%;
}
.buttons .random{
    width: 60%;
    text-transform: uppercase;
    letter-spacing: 1px;
}
/*--------------------------------------------------------------------*/
@media screen and (orientation:landscape) {
    body{
        flex-wrap: wrap;
    }
    .gradient-box{
        height: 100%;
        width: 50%;
        box-shadow: none;
    }
    .menu{
        height: 85%;
        width: 50%;
    }
    .buttons{
        height: 15%;
    }
}