body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.gradient-box{
    height: 45%;
    z-index: 10;
}
/*--------------------------------------------------------------------*/
.menu{
    height: 45%;
    background-image: radial-gradient(#418ff4, #416af4);
    z-index: 1;
    overflow: hidden;
}
.menu-options{
    position: relative;
    bottom: -100%;
    transition: 0.5s;
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: rgb(0,0,0);
    z-index: 100;
}
.menu-options-active{
    bottom: 0;
}
.menu-options li{
    height: 33.33333%;
    box-sizing: border-box;
}
.menu-options li:nth-child(1),
.menu-options li:nth-child(2){
    border-top: 1px solid #000;
    border-bottom: 1px solid #fff;
}
.menu-options li:nth-child(3){
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
.menu-options a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: sans-serif;
    display: block;
    text-align: center;
    height: 100%;
}
/*--------------------------------------------------------------------*/
div .option{
    display: none;
    height: 100%;
    flex-direction: column;
    width: 100%;
}
div .option-active{
    display: flex;
    position: relative;
    top: -100%;
}
/*--------------------------------------------------------------------*/
.colors{
    width: 100%;
    flex-wrap: wrap;
}
.colors-box-btn{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 25%;
    width: 100%;
}
.color-box-desktop{
    display: none;
}
.colors-box{
    visibility: hidden;
    height: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.colors-box-active{
    visibility: visible;
    height: 75%;
}
.colors button{
    background-color: #ccc;
    border: 1px solid transparent;
    border-radius: 15px;
    width: 40%;
    height: 70%;
    transition: 0.5s;
}
.colors .btn-active{
    background-color: #49e53d;
}
.colors input{
    width: 90%;
    margin: 0;
}
.colors-box-set{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    height: 33.333%;
}
.color-item{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.color-red{
    background-color: #ff0000;
}
.color-green{
    background-color: #00ff00;
}
.color-blue{
    background-color: #0000ff;
}

.color-1-desktop,
.color-2-desktop{
    display: none;
}
/*--------------------------------------------------------------------*/
.rotate{
    justify-content: center;
    align-items: center;
}
.rotate-box{
    background-color: transparent;
    border: 5px solid rgba(250,250,250,0.3); 
    border-radius: 50%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
.rotate-content{
    width: 2px;
    position: relative;
    top: -5px;
}
.rotate-pointer{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f00;
    position: relative;
    right: 20px;
    bottom: 15px;
    box-shadow: 0 0 4px #fff;
}
.rotate-angle-box{
    position: absolute;
    color: #fff;
    font-size: 2rem;
    transform: translate(10px, -5px);
}
.rotate-angle-box-ring{
    position: relative;
    top: -12px;
    left: -10px;
}
/*--------------------------------------------------------------------*/
.copy{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.textarea-copy{
    margin-top: 10px;
    width: 95%;
    height: 40%;
    resize: none;
    padding: 5px;
    box-sizing: border-box;
}
.copy-button-box{
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.copy-btn{
    border-radius: 10px;
    font-size: 1.5rem;
    padding: 10px 20px;
    background-color: royalblue;
    border: 2px solid royalblue;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
}
.copy-btn:hover,
.copy-btn:focus{
    color: royalblue;
    background-color: #fff;
}
/*--------------------------------------------------------------------*/
.buttons{
    height: 10%;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    box-sizing: border-box;
    background-color: #333;
    z-index: 13;
}
.buttons .menu-button,
.buttons .random{
    border: 2px solid orange;
    background-color: rgba(0,0,0,0.5);
    border-radius: 20px;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
}
.buttons .menu-button{
    width: 30%;
}
.buttons .random{
    width: 60%;
    text-transform: uppercase;
    letter-spacing: 1px;
}
/*--------------------------------------------------------------------*/
@media screen and (orientation:landscape) {
    body{
        flex-wrap: wrap;
    }
    .gradient-box{
        height: 100%;
        width: 50%;
        box-shadow: none;
    }
    .menu{
        height: 85%;
        width: 50%;
    }
    .buttons{
        height: 15%;
    }
}

@media screen and (min-width: 1024px){
    .gradient-box{
        height: 60%;
        width: 100%;
    }
    .menu{
        height: 40%;
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .menu-options{
        display: none;
    }
    div .option-active{
        position: static;
    }
    div .option{
        display: flex;
        width: 25%;
        height: 100%;
    }
    div .colors{
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .colors-box{
        visibility: visible;
        height: 75%;
        width: 50%;
    }
    .colors-box-btn{
        height: 25%;
        width: 100%;
    }
    .color-1,
    .color-2{
        display: none;
    }
    .color-box-desktop{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }
    .color-1-desktop,
    .color-2-desktop{
        box-sizing: border-box;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 50%;
        height: 100%;
        color: #fff;
    }
    .color-1-desktop{
        border-right: 1px solid #fff;
    }
    .box-desktop{
        border-right: 1px solid #fff;
        box-sizing: border-box;
    }
    .color-desktop-box-color{
        width: 20%;
        height: 70%;
    }
    .rotate,
    .colors{
        box-sizing: border-box;
        border-right: 1px solid #fff;
    }
    div .copy{
        height: 70%;
    }
    .buttons{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 25%;
        height: 10%;
    }
    .random{
        height: 80%;
    }
    .menu-button{
        display: none;
    }
}